<link rel="stylesheet" type="text/css" href="../css/factura.css">
<div class="container">
  <div class="home-container">
    <div class="home-espacioarriba"></div>
    <div class="home-titulo">
      <span class="home-titulo-text"><span>ORIGINAL</span></span>
    </div>
    <div class="home-datoscoope">
      <div class="home-container01">
        <div class="home-container02">
          <span class="home-text001">
            ASOCIACION COOPERADORA MARIANO ACOSTA
          </span>
        </div>
        <div class="home-container03">
          <span class="home-text002">
            <span>Razón Social:</span>
            <span></span>
          </span>
          <span class="home-text005">
            <span>ASOC. COOPERADORA MARIANO ACOSTA</span>
          </span>
          <div class="break"></div> <!-- break -->
          <span class="home-text007">
            <span>Domicilio Comercial:</span>
            <span></span>
          </span>
          <span class="home-text010">
            <span>Urquiza 175 - C.A.B.A.</span>
          </span>
          <div class="break"></div> <!-- break -->
          <span class="home-text012">
            <span>Condición frente al IVA:</span>
            <span></span>
          </span>
          <span class="home-text015"><span>IVA Sujeto Exento</span></span>
        </div>
      </div>
      <div class="home-container04">
        <div class="home-container05">
          <span class="home-text017">C</span>
          <span class="home-text018"><span>COD. <%= context.tipoFactura %></span></span>
        </div>
        <div class="home-container06"></div>
      </div>
      <div class="home-container01">
        <div class="home-container08">
          <span class="home-text020"><%= context.tipoFacturaL %></span>
        </div>
        <div class="home-container09">
          <div class="home-container10">
            <div class="home-container11">
              <span class="home-text021">
                <span class="home-text022">Punto de venta:</span>
                <span></span>
              </span>
              <span class="home-text024">
                <span class="home-text025">00001</span>
              </span>
            </div>
            <div class="home-container12">
              <span class="home-text026">
                <span class="home-text027">Comp. Nro:</span>
                <span></span>
              </span>
              <span class="home-text029">
                <span class="home-text030"><%= context.voucherNumber %></span>
              </span>
            </div>
            <div class="break"></div> <!-- break -->
            <div class="home-container13">
              <span class="home-text031"><span>Fecha de emisión:</span></span>
              <span class="home-text033"><span><%= context.fecha %></span></span>
            </div>
          </div>
          <div class="home-container14">
            <span class="home-text035"><span>CUIT:</span></span>
            <span class="home-text075"><span>30-67599224-6</span></span>
            <div class="break"></div> <!-- break -->
            <span class="home-text039"><span>Ingresos Brutos:</span></span>
            <span class="home-text041"><span>Exento</span></span>
            <div class="break"></div> <!-- break -->
            <span class="home-text043">
              <span class="home-text044">Fecha de Inicio de Actividades:</span>
              <span></span>
            </span>
            <span class="home-text046"><span>xx/xx/xxxx</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="home-fechas">
      <div class="home-container15">
        <span class="home-text048">
          <span>Período Facturado Desde:</span>
          <span></span>
        </span>
        <span class="home-text051"><span><%= context.fecha %></span></span>
      </div>
      <div class="home-container16">
        <span class="home-text053"><span>Hasta:</span></span>
        <span class="home-text055"><span><%= context.fecha %></span></span>
      </div>
      <div class="home-container17">
        <span class="home-text057">
          <span class="home-text058">Fecha de Vto. para el pago:</span>
        </span>
        <span class="home-text059">
          <span class="home-text060"><%= context.fecha %></span>
        </span>
      </div>
    </div>
    <div class="home-datossocio">
      <div class="home-container18">
        <span class="home-text061">
          <span class="home-text062"><%= context.tipoDocumento %>:</span>
        </span>
        <span class="home-text075"><span><%= context.doc_numero %></span></span>
        <div class="break"></div> <!-- break -->
        <span class="home-text065">
          <span class="home-text066">Condición frente al IVA:</span>
        </span>
        <span class="home-text075"><span><%= context.condIVA %></span></span>
        <div class="break"></div> <!-- break -->
        <span class="home-text069"><span>Condición de venta :</span></span>
        <span class="home-text075"><span><%= context.condVenta %></span></span>
      </div>
      <div class="home-container19">
        <span class="home-text073">
          <span class="home-text074">Apellido y Nombre / Razón social:</span>
        </span>
        <span class="home-text075"><span><%= context.nombre %> <%= context.apellido %></span></span>
        <div class="break"></div> <!-- break -->
        <span class="home-text077">
          <span class="home-text078">Domicilio Comercial:</span>
        </span>
        <span class="home-text079">
          <span><%= context.domicilio %></span>
        </span>
      </div>
    </div>
    <div class="home-espaciomedio"></div>
    <div class="home-datosfactura">
      <div class="home-container20">
        <span class="home-text082"><span>Recibi(mos) la suma de:</span></span>
        <span class="home-text084"><span>$</span></span>
        <span class="home-text086"><span><%= context.importe %></span></span>
      </div>
      <div class="break"></div> <!-- break -->
      <div class="home-container21">
        <span class="home-text088"><span>en concepto de:</span></span>
        <span class="home-text090">
          <span>
            <%= context.detalleFactura %>
          </span>
        </span>
      </div>
    </div>
    <div class="home-totales">
      <div class="home-container22">
        <span class="home-text093"><span class="home-text094">.</span></span>
        <span class="home-text095">
          <span class="home-text096">Bonif:</span>
          <span>0%</span>
        </span>
      </div>
      <div class="home-container23">
        <span class="home-text098"><span>Subtotal: $</span></span>
        <span class="home-text100"><span>Importe Bonif: $</span></span>
        <span class="home-text102"><span>Subtotal c/Bonif.:</span></span>
        <span class="home-text104"><span>Importe Otros Tributos: $</span></span>
        <span class="home-text106"><span>Importe Total: $</span></span>
      </div>
      <div class="home-container24">
        <span class="home-text108"><span><%= context.importe %></span></span>
        <span class="home-text110"><span>0,00</span></span>
        <span class="home-text112"><span><%= context.importe %></span></span>
        <span class="home-text114"><span>0,00</span></span>
        <span class="home-text116"><span><%= context.importe %></span></span>
      </div>
    </div>
    <div class="home-cae">
      <div class="home-container25">
        <img
          src="../img/qr_factura.png"
          alt="qr"
          class="home-image"
        />
        <img
          src="../img/afip.png"
          alt="afip"
          class="home-image1"
        />
      </div>
      <div class="home-container26">
        <span class="home-text118"><span>CAE N°:</span></span>
        <span class="home-text120"><span>Fecha de Vto. de CAE:</span></span>
      </div>
      <div class="home-container27">
        <span class="home-text122"><span><%= context.CAE %></span></span>
        <span class="home-text124"><span><%= context.CAEFchVto %></span></span>
      </div>
    </div>
    <div class="home-pie">
      <span class="home-text126">
        Esta Administración Federal no se responsabiliza por los datos
        ingresados en el detalle de la operación
      </span>
    </div>
    <div class="home-espacioabajo"></div>
  </div>
</div>

